<div>
    <header class="albumHeader"><input class="headerSearchbar" placeholder="Search for a new artist" type="text" >
    <button class="boton" ng-click="searchArtist()">Buscar</button></header>
    <div class="contentContainer">
    <div class="parteSuperior">
        <img src={{album.images[0].url}}  alt="">
        <b>{{album.name}}</b>
    </div>
        <ul>
            <li class="simple" ng-repeat="track in tracks">
                <div class="caja_li">
                <b>{{track.name}}</b>
                <i ng-class="{'fa fa-star-o':!seeFavs(track.id) , 'fa fa-star':seeFavs(track.id)}" aria-hidden="true" ng-click="starColor(track)"></i>
 
                </div>                      
            </li>
        </ul>
    </div>
</div>
