<div class="band-detail-container">
	<header class="albumHeader"><input class="headerSearchbar" placeholder="Search for a new artist" type="text" >
	<button class="boton" ng-click="searchArtist()">Buscar</button></header>
	<div class="contentContainer">
		<ul>
			<li class="doble" ng-repeat="album in albums">
				<div class="caja_li">
				<img src={{album.images[0].url}}  alt="" ng-click="showTracks(album.id)"></a>
				<b>{{album.name}}</b>	
				</div>	  	 		  		
			</li>
		</ul>	
	</div>
</div>