<div class="band-detail-container">
	<header class="albumHeader">
        <img src="../logo.jpg" class="redirectWithSearch" ng-click="home()">
         <div class="busquedaTop">
            <input class="headerSearchbar" placeholder="Search for a new artist" type="text" ng-model="home_search" >
            <button class="boton" ng-click="searchArtist()">Buscar</button>
        </div>
     </header>
	<div class="contentContainer">
	<div class="parteSuperior">
		<img ng-src="{{artist.images[0].url}}">
		<b>{{artist.name}}</b>
	</div>
	<div class="parteInferior">
		<ul>
			<li class="doble" ng-repeat="album in albums">
				<elemento src="album.images[0].url" action="showTracks(album.id)" text="album.name"></elemento>
				
				</div>	  	 		  		
			</li>
		</ul>	
	</div>
	</div>
</div>