*{
	box-sizing: border-box;
	margin:1px;
}
body{
	background-color:#6AE368;
	font-family: Arial;
}

header{
	border-bottom:2px solid black;
}
h2{
	padding:2%;
}
p{
	padding: 2%;
} 
footer{
	border-top:2px solid black;
	height: 100px;
}


/*.consigna__container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}*/
.consigna__container{
	border:2px solid black;
}

.consigna__container #bienvenido{
	font-size:20px;
	font-weight: bold;
}
.consigna__container #pageName{
	font-size: 30px;
	font-weight: bold;
}

.consigna__container p {
	font-size:20px;
}

.contentContainer{
	width: 50%;
  	margin-left: auto;
  	margin-right: auto;
}

.searchbar{
	width:85%;
	height: 5%;
	border-radius: 500px;
	padding: 2%;
}
 .boton{
 	box-sizing: border-box;
 }

.mainHeader{
	background: url("/logo.jpg") center no-repeat;
	background-size: 85px 85px;
	overflow: auto;
	height: 100px;
	width: 100%;

}

.searchDiv{
 	width: 100%;
 	display:inline-block;
}

button{
	border-radius: 500px;
	font-weight: bold;
}



/*======================TERMINA HOME=======================*/

/*=========================EMPIEZA RESULTS===========================*/


img{
	width:100px;
	height: 100px;
	 min-height: 100px;
    min-width: 100px;
	display:inline-block;
	cursor:pointer;
}



ul {
	width:100%;
	list-style: none;
	padding: 0px;
}

li{
	min-width: 185px;
}

.doble {
	width:49%;
	display:inline-block;
	

}

.simple {
	width: 100%;
	display:inline-block;

}

.caja_li{
	border:2%;
	display:flex;

	/*flex-direction: row;*/
}

b{
	width:100%;
}

/*=========================TERMINA RESULT======================*/

/*=========================EMPIEZA ALBUMS======================*/

.albumHeader{
	background: url("/logo.jpg")no-repeat;
	background-size: 85px 85px;
	overflow: auto;
	height: 100px;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerSearchbar{
	
	width:40%;
	height: 20%;
	border-radius: 500px;
}



.band-detail-container{
	border:2px solid black;
}

/*=========================TERMINA ALBUMS======================*/